.login-bg {
    background-image: url("../public/northeastern.jpeg");
}

.login-logo {
    background-image: url("../public/northeastern_univresity_seal.png");
}

.user-bg {
    background-image: url("../public/studyspace.jpeg");
}

.wd-remove-focus:focus {
    outline: none;
}