.login-bg {
    background-image: url("../public/northeastern.jpeg");
}

.login-logo {
    background-image: url("../public/northeastern_univresity_seal.png");
}

.logout-hover:hover{
    color: teal;
    background-color: black;
}

.login-logo:focus{
     color: teal;
    background-color: black;
}